@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --preto: #040200;
  --marrom-escuro: #27170d;
  --marrom-claro: #653815;
  --amarelo-escuro: rgb(189, 103, 7);
  --dourado: rgb(249, 192, 67);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--preto);
}

#dashboard {
  flex-direction: row;
  width: 100%;
  display: flex;
}

#div_loading {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: end;
  background-repeat: no-repeat;
  z-index: 10;
  background-size: contain;
}

#div_loading img {
  width: 100%;
  height: 728px;
}

#hr {
  background-color: var(--dourado);
  z-index: 11;
  position: absolute;
  height: 5px;
  margin: 0px 0px 20px 15px;
  border-radius: 5px;
}

#p {
  z-index: 12;
  position: absolute;
  font-size: 30px;
  color: var(--dourado);
  margin-left: 1400px;
}

#telaLateral {
  display: flex;
  flex-direction: column;
  background-color: var(--marrom-escuro);
  width: 15%;
  height: 100vh;
  position: sticky;
  top: 0;
  font-size: 25px;
}

.telas {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: 40%;
  line-height: 50px;
  margin-left: 10px;
}

#telaLateral a {
  text-decoration: none;
  color: var(--dourado);
}

#telaLateral a:hover {
  text-shadow:
    -2px -2px 6px var(--dourado),
    2px 2px 6px var(--dourado);
  transition: 0.2s;
  padding: 10px;
}

.lateral {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 25%;
}

.lateral img {
  width: 200px;
  height: 200px;
}

.sair {
  display: flex;
  width: 100%;
  height: 35%;
  align-items: end;
}

.sair button {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  word-spacing: 60px;
  font-size: 25px;
}

.sair button:hover {
  text-shadow:
    -1px -1px 5px red,
    1px 1px 5px red;
  transition: 0.2s;
  transform: scale(1.1);
}

.tela-principal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: white;
}

.header {
  display: flex;
  width: 68%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header p {
  text-align: center;
  color: var(--dourado);
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  font-weight: bold;
}

.header img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  cursor: pointer;
}

.header img:hover {
  width: 80px;
  height: 80px;
}

.classes {
  width: 100%;
  height: 90vh;
  display: flex;
}

.carrossel {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  cursor: pointer;
}

.box1,
.box2,
.box3,
.box4 {
  display: flex;
  width: 100%;
}

.classes img {
  display: block;
  width: 33.33%;
  height: 100%;
  filter: grayscale(100%);
}

.classes img:hover {
  transition: 0.5s;
  transform: scale(1.04);
}

.voltar,
.seguir {
  background-color: rgb(189, 103, 7, 0.2);
  color: white;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 50px;
  font-size: 50px;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1)), url('../dashboard/imagens/fundo.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.atributos {
  display: flex;
  width: 50%;
  height: 90%;
  flex-direction: column;
}

.atributos p {
  width: 20px;
  height: 20px;
  font-size: 30px;
  align-items: center;
}

.atributo {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 10%;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px 0px 20px;
}

.atributo input{
  font-size: 20px;
}

.atrb {
  display: flex;
  width: 10%;
}

.atrb h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}

.valor-atrb {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: green;
  color: var(--dourado);
  border: none;
}

.barra {
  display: flex;
  width: 50%;
  height: 10%;
  flex-direction: column;
}

.barra input{
  cursor: pointer;
}

.mais-menos{
  cursor: pointer;
}

.min-max {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.min-max p {
  font-size: 18px;
}

.upar {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: var(--dourado);
}

.up {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}

.coluna {
  display: flex;
  width: 80%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  font-size: 20px;
}

.coluna .item {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 100%;
}

.coluna span {
  width: 70%;
}

.coluna .box {
  display: flex;
  width: 70px;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: var(--dourado);
  border: none;
}

#div_runas{
  width: 110px;
  margin-left: -40px;
}

.botao{
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
}

.grafico .botao{
  margin-left: -20px; 
}

.botao button{
  width: 200px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.botao button:hover{
  transition: 0.3s;
  transform: scale(1.2);
}

#builds {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1)), url('../dashboard/imagens/fundo2.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.arma {
  display: flex;
  width: 90%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5));
  justify-content: center;
}

.grafico {
  display: flex;
  width: 10%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5));
  flex-direction: column;
}

.canvas {
  display: flex;
  width: 600px;
}

.boxes {
  text-align: center;
  color: var(--dourado);
}

.boxes img {
  width: 500px;
  height: 500px;
}

.x{
  display: flex;
  position: absolute;
  width: 97%;
  justify-content: end;
  margin-top: 40px;
}

.x img{
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.x img:hover{
  transition: 0.2s;
  transform: scale(1.2);
}
/* Tela de Classes */

.fundo-classes {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 5%, rgba(0, 0, 0, 0) 80%), url('../dashboard/imagens/fundoClasses.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

.header-classes {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-classes p {
  text-align: center;
  color: var(--dourado);
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  font-weight: bold;
  width: 1220px;
}

.header-classes img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  cursor: pointer;
}

.header-classes img:hover {
  width: 80px;
  height: 80px;
}

#modalClasse {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 10;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  width: 30%;
  height: 40%;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(89, 89, 89, 0.863);
}

.modal select {
  width: 60%;
  height: 10%;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  background-color: rgba(54, 162, 235, 0.4);
  border-color: var(--preto);
  border-width: 2px;
  cursor: pointer;
}

.botaoModal {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
}

.botaoModal button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  background-color: rgba(54, 162, 235, 0.4);
  cursor: pointer;
  border-color: var(--preto);
  border-width: 2px;
}

.botaoModal button:hover {
  transition: 0.2s;
  transform: scale(1.2);
}

.fundo-classes #telaPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.topo {
  display: flex;
  width: 100%;
  height: 35%;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.baixo {
  display: flex;
  width: 95%;
  height: 65%;
  flex-direction: row;
  justify-content: space-evenly;
}

.grafico {
  display: flex;
  justify-content: center;
  width: 65%;
  height: 98%;
}

.grafico-pie {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 98%;
}

.baixo .grafico {
  background-color: rgb(0, 0, 0, 0.7);
}

.baixo .grafico-pie{
  background-color: rgb(0, 0, 0, 0.8);
}

.kpi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 170px;
  border-radius: 10px;
  font-size: 20px;
}

.kpi h1 {
  color: var(--dourado);
}

.atual {
  background-color: rgba(1, 1, 1, 0.8);
}

.atual button {
  cursor: pointer;
  background-color: var(--dourado);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  width: 120px;
  height: 25px;
  color: white;
}

.atual button:hover {
  transition: 0.2s;
  transform: scale(1.2);
}

.build {
  background-color: rgba(1, 1, 1, 0.8);
}

.classe {
  background-color: rgba(1, 1, 1, 0.8);
}