@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --preto: #040200;
  --marrom-escuro: #27170d;
  --marrom-claro: #653815;
  --amarelo-escuro: #bd6707;
  --dourado: #f9c043;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--preto);
}

#dashboard {
  flex-direction: row;
  width: 100%;
  display: flex;
}

#div_loading {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: end;
  background-repeat: no-repeat;
  z-index: 10;
  background-size: contain;
}

#div_loading img {
  width: 100%;
  height: 728px;
}

#hr {
  background-color: var(--dourado);
  z-index: 11;
  position: absolute;
  height: 5px;
  margin: 0px 0px 20px 15px;
  border-radius: 5px;
}

#p {
  z-index: 12;
  position: absolute;
  font-size: 30px;
  color: var(--dourado);
  margin-left: 1400px;
}

#telaLateral {
  display: flex;
  flex-direction: column;
  background-color: var(--marrom-escuro);
  width: 15%;
  height: 100vh;
  position: sticky;
  top: 0;
  font-size: 25px;
}

.telas {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: 40%;
  line-height: 50px;
  margin-left: 10px;
}

#telaLateral a {
  text-decoration: none;
  color: var(--dourado);
}

#telaLateral a:hover {
  text-shadow:
    -2px -2px 6px var(--dourado),
    2px 2px 6px var(--dourado);
  transition: 0.2s;
  padding: 10px;
}

.lateral {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 25%;
}

.lateral img {
  width: 200px;
  height: 200px;
}

.sair {
  display: flex;
  width: 100%;
  height: 35%;
  align-items: end;
}

.sair button {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  word-spacing: 60px;
  font-size: 25px;
}

.sair button:hover {
  text-shadow:
    -1px -1px 5px red,
    1px 1px 5px red;
  transition: 0.2s;
  transform: scale(1.1);
}

.tela-principal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: white;
}

.header {
  display: flex;
  width: 63%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  text-align: center;
  color: var(--dourado);
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
}

.header img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  cursor: pointer;
}

.classes {
  width: 100%;
  height: 100vh;
  display: flex;
}

.carrossel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  flex-direction: row;
}

.box1,
.box2,
.box3,
.box4 {
  display: flex;
  width: 100%;
}

.classes img {
  display: block;
  width: 33.33%;
  height: 100vh;
}

#passar {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.voltar,
.seguir {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 50px;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)), url('../dashboard/imagens/fundo.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.atributos {
  display: flex;
  width: 50%;
  height: 90%;
  flex-direction: column;
}

.atributos p {
  width: 20px;
  height: 20px;
  font-size: 30px;
  align-items: center;
}

.atributo {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 10%;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px 0px 20px;
}

.atrb {
  display: flex;
  width: 10%;
}

.atrb h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}

.valor-atrb {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: green;
  color: var(--dourado);
  border: none;
}

.barra {
  display: flex;
  width: 50%;
  height: 10%;
  flex-direction: column;
}

.min-max {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.min-max p {
  font-size: 18px;
}

.upar {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.upar h1 {
  text-align: center;
  color: var(--dourado);
}

.up {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.coluna {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  font-size: 20px;
}

.coluna .item {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.coluna span {
  width: 70%;
}

.coluna .box {
  display: flex;
  width: 70px;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: var(--dourado);
  border: none;
  margin-right: 25px;
}

.build {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)), url('../dashboard/imagens/fundo2.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.arma {
  display: flex;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5));
  justify-content: center;
}

.grafico {
  display: flex;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5));
  justify-content: center;
  align-items: center;
}

.canvas{
  display: flex;
  width: 80%;
}

#forca{
  text-align: center;
  color: var(--dourado);
}

#forca img{
  width: 500px;
  height: 500px;
}