@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --preto: #040200;
    --marrom-escuro: #27170d;
    --marrom-claro: #653815;
    --amarelo-escuro: #bd6707;
    --dourado: #f9c043;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--preto);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
    width: 100%;
    backdrop-filter: blur(1.2px);
    position: fixed;
    z-index: 99;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

#logar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

#dash{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

nav a {
    font-size: 35px;
    font-family: "Cormorant Garamond", serif;
    color: var(--dourado);
    text-shadow: var(--marrom-claro) 4px 4px 4px;
    text-decoration: none;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}

nav img {
    width: 100px;
    height: 100px;
}

nav a:hover {
    text-shadow:
        -2px -2px 6px var(--dourado),
        2px 2px 6px var(--dourado);
    transition: 0.2s;
    transform: scale(1.1);
}

.tela-principal .home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tela-principal .img-fundo {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1)), url('../IMAGENS/fundoEldenRing.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.tela-principal .nome-eldenRing {
    position: absolute;
    width: 50%;
    height: 100%;
}

.historia {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.historia h1 {
    font-size: 60px;
    font-family: "Cormorant Garamond", serif;
    color: var(--dourado);
    text-shadow: var(--marrom-claro) 4px 4px 4px;
    text-align: center;
    margin: 0;
}

.box1 .texto {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.box1 {
    display: flex;
    flex-direction: row;
}

.box1 .texto {
    flex-direction: column;
}

span {
    color: var(--dourado);
}

.tela-principal p {
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin: 10px 13px;
    color: white;
    text-align: justify;
    line-height: 30px;
}

.box1 .card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 .card img {
    width: 96%;
    margin-right: 20px;
}

.box2 {
    width: 100%;
    height: 30%;
}

.box3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.box3 h1 {
    text-align: center;
}

.box3 .card {
    display: flex;
    width: 50%;
    height: 100%;
    margin-left: 20px;
    justify-content: center;
    margin-top: 15px;
}

.box3 .card img {
    width: 100%;
    height: 90%;
}

.box3 .texto {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

.box3 .texto label {
    font-size: 30px;
    color: var(--dourado);
    margin-left: 280px;
}

#jogo {
    height: 120vh;
}

.box4 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.box4 .card {
    width: 50%;
    height: 50%;
}

.box4 .card img {
    margin-top: 25px;
    width: 750px;
    height: 550px;
}

.box4 .texto {
    width: 50%;
    height: 100%;
}

#mapa {
    width: 100%;
    height: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mapa .img {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 15%), url('../IMAGENS/mapa.jpg');
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.click {
    text-decoration: none;
    cursor: pointer;
}

.click:hover {
    text-shadow:
        -2px -2px 6px var(--dourado),
        2px 2px 6px var(--dourado);
    transition: 0.3s;
    font-size: 21px;
}

footer {
    background-color: #3A3A3A;
    font-family: "Cormorant Garamond", serif;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 100%;
}

.desenvolvedor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
    margin: 0px 10px;
}

.facecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.facecard h1 {
    font-size: 40px;
    color: var(--dourado);
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px 10px;
    color: white;
    text-align: justify;
    line-height: 27px;
}

.minha-foto {
    width: 33%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.minha-foto img {
    width: 190px;
    height: 230px;
}

.redes-sociais {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: 100%;
    margin-left: 15px;
}

.logos img {
    width: 60px;
    margin-top: 20px;
    cursor: pointer;
}

.logos img:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

.copyright {
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: end;
    margin: 20px 20px;
}

.link a{
    color: var(--dourado);
    font-family: sans-serif;
    font-size: 18px;
}

.link:hover{
    transition: 0.2s;
    transform: scale(1.2);
}


/* Cadastro */

.tela-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    display: flex;
}

.img-cadastro {
    width: 26%;
    height: 100%;
    display: flex;
}

.img-cadastro .seta {
    display: flex;
    position: absolute;
    width: 70px;
    height: 70px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0px 0px 10px;
}

.img-cadastro .seta:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

.box-cadastro {
    display: flex;
    width: 74%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6)), url('../IMAGENS/fundoCL.webp');
    background-position: center;
    background-size: 1300px;
}

.box-inputs {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 40px;
}

.box-inputs input {
    width: 45%;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.box-cadastro h3 {
    color: var(--dourado);
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.box-cadastro .botoes {
    display: flex;
    margin-top: 20px;
}

.botoes button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background: var(--dourado);
}

.botoes button:hover {
    background: linear-gradient(#f9c043, #653815);
    transition: 0.2s;
    transform: scale(1.1);
}

.box-link {
    display: flex;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.box-link a {
    color: var(--dourado);
}

.box-link a:hover {
    transition: 0.2s;
    font-size: 22px;
}

.cardErro {
    position: absolute;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
}

.erro {
    margin-bottom: 100px;
    width: 350px;
    height: 45px;
    color: red;
    font-size: 25px;
    text-align: center;
}

/* Login */

.tela-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    display: flex;
}

.img-login {
    width: 26%;
    height: 100%;
    display: flex;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.box-login {
    display: flex;
    width: 74%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)), url('../IMAGENS/telaLoading1.webp');
    background-position: center;
    background-size: 1300px;
}

.box-login h3 {
    color: var(--dourado);
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.box-login .botoes {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.seta {
    display: flex;
    height: 100%;
    align-items: flex-start;
}

.seta img {
    display: flex;
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 10px 0px 0px 10px;
}

.seta img:hover {
    transition: 0.2s;
    transform: scale(1.2);
}