@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --preto: #040200;
    --marrom-escuro: #27170d;
    --marrom-claro: #653815;
    --amarelo-escuro: #bd6707;
    --dourado: #f9c043;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--preto);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
    width: 100%;
}

nav a {
    font-size: 35px;
    font-family: "Cormorant Garamond", serif;
    color: var(--dourado);
    text-shadow: var(--marrom-claro) 4px 4px 4px;
    text-decoration: none;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}
nav img{
    width: 100px;
    height: 100px;
}

nav a:hover {
    text-shadow:
        -2px -2px 6px var(--dourado),
        2px 2px 6px var(--dourado);
    transition: 0.2s;
    transform: scale(1.1);
}

.tela-principal .home {
    width: 100%;
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tela-principal .img-fundo {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1)), url('../IMAGENS/fundoEldenRing.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.tela-principal .nome-eldenRing {
    position: absolute;
    width: 50%;
    height: 100%;
}

.historia {
    width: 100%;
    height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.historia h1 {
    font-size: 60px;
    font-family: "Cormorant Garamond", serif;
    color: var(--dourado);
    text-shadow: var(--marrom-claro) 4px 4px 4px;
    text-align: center;
    margin: 0;
}

.texto {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.box1 {
    display: flex;
    flex-direction: row;
}

.box1 .texto {
    flex-direction: column;
}

span {
    color: var(--dourado);
}

p {
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px 50px;
    color: white;
    text-align: justify;
    line-height: 27px;
}

.box1 .card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 .card img {
    width: 96%;
    margin-right: 20px;
}

.box2 {
    width: 100%;
    height: 30%;
}

.mapa {
    width: 100%;
    height: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapa .img {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 15%), url('../IMAGENS/mapa.jpg');
    object-fit: cover;
    background-size: cover;
    background-position: center;
}